// --------- Общие цвета --------- //
$color-icon-bg-highlight: #e1e7fe;
$color-icon-bg: #e2e6ee;
$color-icon-link: #516cf7;
$color-card-bg: #f7f9fc;
$color-title: #2e2e48;
$color-label: #79819a;
$color-label-highlight: #efe2f9;
$color-text: #47516b;
$color-text-highlight: #9251f7;
$color-text-highlight-secondary: #5d5fef;
$color-point: #5531a7;
